{{< header "fr" >}}

{{< plate "plate_I-30_legs-of-the-dying-slave-by-michelangelo" "fr" >}}

{{< maybeparsefn "/fr/planche_I-30-jambes-de-l-esclave-mourant-de-michel-ange//index.html.content" >}}

{{< footer "fr" >}}
