{{< header "en" >}}

{{< metas "about" "en" >}}

<p>
	This website contains an online collection of plates from
	<a href="https://en.wikipedia.org/wiki/Charles_Bargue">Charles Bargue</a>'s
	<a href="https://archive.org/details/C.BargueDrawingCourse">Drawing course</a>.
	They were scanned by someone (not <a href="https://mbivert.com/">me</a>)
	from <a href="https://archive.org/details/C.BargueDrawingCourse">Ackerman's book</a>
	(ISBN-13: 978-1788840446 (English); ISBN-13: 978-2867702020 (French)).
</p>
<p>
	The plates are meant to be copied precisely. If you're new to this, you
	probably <a href="https://tales.mbivert.com/on-pencils-for-bargue/">want to use graphite</a>
</p>
<p>
	For more about the plates, see
	<a href="https://archive.org/details/C.BargueDrawingCourse">Ackerman's book</a>
	or <a href="https://tales.mbivert.com/on-bargue-drawing-course/">this series of
	articles</a>.
</p>

{{< template "footer" wrap "en" >}}
