{{< header "en" >}}

<h2 class="title">All plates</h2>

<div class="imgs-grid">
{{< range $k, $v := .db.groups >}}
	{{< range $v >}}
		{{< gridfigure . "en" >}}
	{{< end >}}
{{< end >}}
</div>

{{< footer "en" >}}
