{{< header "fr" >}}

{{< plate "plate_I-35_the-cardinal-de-birague-by-germain-pilon" "fr" >}}

{{< maybeparsefn "/fr/planche_I-35_le-cardinal-de-birague-de-germain-pilon//index.html.content" >}}

{{< footer "fr" >}}
