{{< template "header" wrap "en" >}}

<h2> Plate I, 1 - Mouths </h2>

{{< figure "plate_I-02_mouths" "en" >}}

<div class="from-ackerman">
	<p>
		Eight simplified schemata are paired with finished mouths viewed from
		different angles. These models treat the mouth as a unit that includes
		the nose and the chin; the student is taught to see the mouth integrated
		in the surrounding organic structure of the face, continually varying
		in shape and relationships as the view changes.The refined version has
		been developed around the near straights of the schema, without
		following them exactly. Without the careful control supplied by the
		guidelines, the proportions would probably go awry.
	</p>
	<p>
		In the foreshortened views, the line cuts through the center.
		You are meant to get used to drawing foreshortened views right
		from the start.These models are idealized views of nature, taken
		from classical sculpture; the simplification of nature has already
		been done for you twice: first by antiquity and again by Bargue.
	</p>
</div>
