{{< header "fr" >}}

{{< plate "plate_I-01_eyes" "fr" >}}

<blockquote class="from-ackerman">
	<p>
		Selon un antique principe néoplatonicien, l'étude de la physionomie humaine
		doit commencer par l'œil, le « miroir de l'âme ». Déjà au début du
		XVII<sup>e</sup> siècle, la première planche du cours de dessin gravé
		d'{{< url "wp-fr-odoardo-fialetti" >}}, intitulé <em>Les Véritables
		Méthodes et règles pour le dessin des parties et membres du corps humain</em>
		(<em>Il vera moda et ordine per disignare tuttia le parti et membra del
		corpo humano</em>; Venice, 1608), est analogue à celle-ci. Les yeux
		s'intègrent dans un environnement anatomique complexe que le moindre mouvement
		de la tête semble modifier; il est difficile de les réduire à une forme
		bidimensionnelle. Ces modèles vous apprendront comment simplifier
		l'organisation de l'œil et des structures dans lesquelles il s'inscrit.
	</p>
	<p>
		Dessinez d'abords sur le papier l'aplomb et l'horizontale. Observez
		l'organisation des angles que forment les autres lignes autour de ces
		deux premières à mesure que vous les copiez. Commencez par les lignes
		élémentaires — en ne notant aucune ombre ni détail; ne dessinez rien
		qui puisse distraire de l'essentiel. Cela vous aidera à aborder l'œil
		dans un contexte naturel plus complexe.
	</p>
	<p>
		Gérald M. Ackerman — Charles Bargue et Jean-Léon Gérome, cours de dessin
	</p>
</blockquote>

{{< footer "fr" >}}
