{{< header "en" >}}

<div id="metas">
	<h1 id="title">About</h1>
</div>

<p>
	This website contains an online collection of plates from
	{{< url "wp-en-charles-bargue" >}}'s
	{{< url "archive.org-bargue-course" "Drawing course" >}}, scanned
	from {{< url "archive.org-bargue-course" "Ackerman's book" >}}
	(ISBN-13: 978-1788840446).
</p>
<p>
	If you're new to this, you probably
	{{< url "tales-bargue-pencils" "want to use graphite" >}}, and to focus on
	copying the plates <em>accurately</em>. For more about the course, see
	{{< url "tales-on-bargue-intro" "this series of articles" >}}.
</p>

{{< footer "en" >}}
