{{< header "en" >}}

<h2 class="title">Parts of the heads</h2>

<div class="imgs-grid">
{{< range (index .db.groups "parts-of-the-head") >}}
	{{< gridfigure . "en" >}}
{{< end >}}
</div>

{{< footer "en" >}}
