{{< header "en" >}}

{{< plate "plate_I-39_anne-of-brittany-by-giovanni-giusti" "en" >}}

{{< maybeparsefn "/plate_I-39_anne-of-brittany-by-giovanni-giusti//index.html.content" >}}

{{< footer "en" >}}
