{{< header "en" >}}

{{< plate "plate_I-01_eyes" "en" >}}

<blockquote class="from-ackerman">
	<p>
		An old Neoplatonic premise has students starting their study of the human
		physiognomy with the eye, “the mirror of the soul.” Even in the early 1600s,
		in {{< url "wp-en-odoardo-fialetti" >}}’s engraved drawing course entitled
		<em>The True Method and Rules for Drawing All the
		Parts and Members of the Human Body</em> (<em>Il vera moda et ordine per disignare
		tuttia le parti et membra del corpo humano</em>; Venice, 1608), the first plate
		is similar to this one. Eyes exist in a complex anatomical setting that appears
		to change with any slight turning of the head; they are difficult to reduce to
		two-dimensional form.
	</p>
	<p>
		These models will teach you to simplify the organization of the eye and its
		surrounding structures.First draw the plumb line and the horizontal on your
		drawing paper. Notice the organization of the angles of the other lines around
		these two as you copy them. Begin with simple lines—no shadows, no details;
		put down nothing that will detract from the essential. This will help you
		approach the eye in its more complex, natural setting.
	</p>
	<p>
		Gérald M. Ackerman — Charles Bargue and Jean-Léon Gérome, drawing course.
	</p>
</blockquote>

{{< footer "en" >}}
