{{< header "en" >}}

{{< plate "plate_I-30_legs-of-the-dying-slave-by-michelangelo" "en" >}}

{{< maybeparsefn "/plate_I-30_legs-of-the-dying-slave-by-michelangelo//index.html.content" >}}

{{< footer "en" >}}
