{{< header "fr" >}}

{{< plate "plate_I-58_milo-of-crotone-by-pierre-puget" "fr" >}}

{{< maybeparsefn "/fr/planche_I-58_milon-de-crotone-de-pierre-puget//index.html.content" >}}

{{< footer "fr" >}}
