{{< header "fr" >}}

{{< plate "plate_I-39_anne-of-brittany-by-giovanni-giusti" "fr" >}}

{{< maybeparsefn "/fr/planche_I-39_anne-de-bretagne-de-jean-juste-de-tours//index.html.content" >}}

{{< footer "fr" >}}
