{{< header "fr" >}}

{{< plate "plate_I-57_female-torso-three-quarter-view" "fr" >}}

{{< maybeparsefn "/fr/planche_I-57_torse-de-femme-vu-de-trois-quarts//index.html.content" >}}

{{< footer "fr" >}}
