{{< header "fr" >}}

{{< metas "about" "fr" >}}

<h2>Introduction</h2>
<p>
	On trouvera ici des reproductions tout à fait décentes des planches
	du cours de dessin de Charles Bargues, scannées depuis
	{{< url "archive.org-bargue-course" "l'ouvrage d'Ackerman" >}}
	(ISBN-13: 978-1788840446 (Anglais); ISBN-13: 978-2867702020 (Français)).
	L'objectif est multiple:
</p>
<ol>
	<li>
		Permettre aux "étudiants fauchés" de disposer de reproductions
		un peu plus décentes que ce que l'on trouve parfois sur Internet;
	</li>
	<li>
		Augmenter les planches de quelques conseils, suggestions et remarques,
		afin d'aider nos "étudiants fauchés" à mieux comprendre le cours;
	</li>
	<li>
		Fournir de la documentation sur le cours en français, la plupart
		du "bon" contenu Internet sur le sujet étant en anglais.
	</li>
</ol>
<p>
	<b><u>Note:</u></b> Il est, je pense, difficile de faire mieux que
	l'ouvrage d'Ackerman en terme de qualité d'impression. La taille
	souvent trop petite des reproductions est quelque peu ennuyeuse,
	mais la finesse des tons est impossible à égaler
	avec les moyens grossiers de nos "étudiants fauchés." L'impression
	des images présentes sur ce site ne donnera que des résultats
	approximatifs, certes convenables pour un débutant; pour les
	élèves sérieux, un achat s'envisage probablement.
</p>
<p>
	<b><u>Note:</u></b> Enfin, il <em>est</em> {{< url "bargue-encore"
	"possible de faire mieux" >}}, mais à des tarifs dépassant très
	largement l'ouvrage d'Ackerman, dont, si ma mémoire est bonne,
	le prix de vente couvre à peine les coûts de production.
</p>
<p>
	La suite de cette page contient quelques recommandations d'ordre
	général pour l'étude du cours de dessin. Comme précédemment mentionné,
	on pourra se référer aux planches pour des conseils plus spécifiques.
	Je compte en particulier annoter les premières, puisqu'elles
	exemplifient la plupart des points qui me semblent importants.
</p>
<p>
	<b>Une lecture <em>soigneuse</em> de ce qui suit est nécessaire pour en tirer
	bon parti</b>: le cours de dessin de Bargue est fin; il est impératif
	de <u>prendre le temps</u> d'apprécier cette finesse, tant à la lecture de
	ces conseils qu'à l'étude des planches. C'est vraiment <em>le</em> point
	crucial, et une cause de stagnation majeure: <b> on ne peut guère
	acquérir de finesse par la hâte</b>.
</p>
<p>
	Si le besoin s'en fait sentir (remarques, commentaires, suggestions),
	{{< url "mbivert.com" "je" >}} suis joignable par email à
	mathieu.<span style="display: none">nope</span>bivert chez:</p>

	<img src="{{< .db.baseurl >}}/me.png" alt="email" />

</p>
<h2>FAQ</h2>
<h3>Par où commencer?</h3>
<p>
	Eh, par la {{< pageurl "plate_I-01_eyes" "fr" "première planche" >}}, naturellement.
</p>
<h3>Mais, comment? Quel matériel?</h3>
<p>
	<b>Quelques crayons graphite sur du papier dessin à grain</b>. Il n'est pas
	nécessaire que le grain soit trop prononcé, mais il faudrait peut-être
	éviter le papier lisse, comme le bristol.
</p>
<p>
	À dire vrai on peut très bien travailler ces planches à l'huile,
	à la pierre noire, ou que sais-je. Mais, je pense, et c'est un avis
	que d'autres partagent, qu'apprendre à se servir de
	crayons graphite est préférable pour débuter: <b>malgré leurs airs anodins,
	en obtenir un usage correct requirert quelques heures de travail,
	quelques dizaines d'heures même</b>.
</p>
{{< figure "me-bargue-plate-I-54-homer-wip" "fr" >}}
<p>
	De plus, le graphite tel qu'on
	se propose de l'utiliser demande une certaine lenteur d'exécution, qu'il est,
	répétons-le encore une fois, absolument nécessaire d'acquérir pour
	un débutant.
</p>
<p>
	Enfin, les techniques développées avec le graphite pourront s'appliquer
	et s'étendre à des matériaux plus fantaisistes.
</p>
<p>
	Je détaille la technique dans {{< url "tales-bargue-graphite"
	"cet article (en)" >}}. J'espère avoir prochainement le temps de le
	traduire/revoir/mettre au format vidéo; en attendant je vous laisse le
	soin de faire usage d'un traducteur automatique si besoin est.
</p>
<p>
	En bref, l'idée est d'avoir du papier à grain (la face non-vergé d'un Arches Ingres
	MBM est excellente, quoiqu'un peu coûteuse; du Canson "C" à grain fera l'affaire
	pour commencer), un crayon 2H, un HB ou un B,
	un 2B, éventuellement un 4B (je préfère les Staedler Mars Lumograph 100;
	il existe des options moins onéreuses tout aussi valables, e.g. Faber-Castell
	9000); les tailler tous en pointe à l'aide d'une lame et de papier abrasif.
</p>
<p>
	Puis, commencer
	par établir des couches bien uniformes avec les crayons "durs",
	puis ajouter des couches supplémentaires en réduisant progressivement
	la dureté du crayon (2H, puis HB, puis 2B, puis 4B). Les lignes composant
	chaque couche
	doivent être les plus uniformes possible: proches, appliquée sans pression
	avec la pointe du crayon,
	dans la même direction. On peut changer la direction d'une couche à l'autre.
	Une gomme mie de pain permet tantôt de contrôler l'uniformité du ton,
	tantôt de l'éclaircir.
</p>
<p>
	Si l'on réduit la dureté trop vite, il se pourrait que le rendu prenne
	un peu de grain; si cela n'est pas désirable, on peut alors appliquer
	quelques couches plus dures pour uniformiser le résultat.
</p>
<p>
	On peut, enfin, on <em>doit</em>, s'entraîner sur des petits carrés, disons
	de 2cm×2cm, à rendre des tons variés. En particulier, on peut essayer de
	rendre un ton aussi léger que possible, et un ton aussi sombre que la
	méthode précédente permet d'obtenir. On peut aussi essayer de n'utiliser
	qu'un seul crayon, etc.
</p>
<p>
	<b><u>Note:</u></b> <b>C'est un travail lent, miniteux, qu'il convient de
	ne pas brusquer</b>, tout du moins, si l'on souhaite obtenir un résultat fin.
</p>
<h3>Quelle méthode de travail?</h3>
<p>
	Bien, nous venous de discuter essentiellement de l'utilisation du graphite
	pour la partie rendu, mais on constatera vite à la "lecture" du cours que
	Bargue et Gérôme nous propose une méthode de travail singulière.
</p>
<p>
	En essence, il s'agit de commencer par simplifier le modèle à l'aide de
	quelques lignes, plutôt droites, parfois légèrement courbées. L'avantage
	principal et qu'il est trivial de déplacer une ligne, mais plus délicat
	de déplacer ou redimensioner une forme déjà bien rendue: ces quelques
	lignes servent à dresser les proportions du modèle.
</p>
<p> WIP </p>
<p>
	<b><u>Note:</u></b> On pourrait discuter de la pertinence de cette approche.
	Voir, peut-être pourrait-on même la qualifier d'<em>interprétation</em> de
	ce qui serait proposé par Bargue & Gérôme.
</p>

<!--
<h3>Prise du crayon?</h3>

<h3> Comment mesurer? </h3>

<p>
	Les mesures dites comparatives sont l'outil de choix. Mais, bien que
	leur utilisation soit tout à fait naturel à certain, elles peuvent
	déconcerter d'autres.
</p>
<p>
	Pour ceux qui y seraient apparemment hérmétique, on pourrait envisager
	une ou deux premières planches en "sight-size" ou mieux, en
	"{{< url "tales-same-size" "same-size (en)" >}}"
</p>
<h3> Alignements? </h3>
-->
{{< footer "fr" >}}
