{{< header "fr" >}}

{{< plate "plate_I-15_hand-of-a-woman-pressing-her-breast" "fr" >}}

{{< maybeparsefn "/fr/planche_I-15_main-d-une-femme-pressant-son-sein//index.html.content" >}}

{{< footer "fr" >}}
